/***************************************
Título: Productos Confetti
Autor:  Maribel Cordero & Arturo Benitez
Studio: DeZain
Client: Productos Naen
****************************************/


.navbar-inverse {
    background:#222a3b ;
}
