/***************************************
Título: Productos Confetti
Autor:  Maribel Cordero & Arturo Benitez
Studio: DeZain
Client: Productos Naen
****************************************/

body {
    padding-bottom: 40px;
    padding-top: ;
    color: #5a5a5a;
}

.navbar-inverse {
    background:#222a3b ;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */

nav {
    margin-bottom: 0px;
}
.navbar-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

.navbar-paddoff{
    padding: 0px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 450px;
  margin-bottom: 0px;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 450px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 450px;
}

/* PRIMERA PLECA*/
.impres {
    margin-top: 30px;
    margin-bottom: 30px;
}

/*PLECAS
---------------------------------------------------*/

.margenAB{
    margin-bottom: 60px;
    margin-top: 60px;
}

.bg-dos {
    color: #fff;
    background-color: #ff8925;
}

.bg-tres{
    color: #fff;
    background-color: #05be3e;
}

.bg-gris{
    background-color: #f7f7f7;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 50px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}




footer{
    background-color: #1e40ff;
    color: #fff;
    height: 5em;
    padding: 1.5em;
}


