/***************************************
Título: Productos Confetti
Autor:  Maribel Cordero & Arturo Benitez
Studio: DeZain
Client: Productos Naen
****************************************/

body {
    padding-bottom: 20px;
    color: #5a5a5a;
}

/* Social icons
--------------------------------------------------*/

    .social-bar ul{
        list-style: none;
        overflow: hidden;
    }

        .social-bar ul li{
            float: right;

        }

            .social-bar ul li a{
                display: block;
                padding: 25px 15px;
                margin-right: 8px;
                color: #fff;
                text-decoration: none;

            }

.pinterest{
    background: #db1313;
}
.youtube{
    background: #b71414;
}
.twitter{
    background: #126dc9;
}
.face{
    background: #1033f2;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

nav {
    margin-bottom: 0px;
}

.paddoff{
    padding: 0px;
    margin-bottom: -20px
}

.navbar-default {
    background-color: #f42626;
    border-color: #f42626;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
    background: #ff4a3b;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #ff4a3b;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #ff4a3b;
}

/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #ffffff;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}

/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 450px;
  margin-bottom: 0px;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 450px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
/*  min-width: 100%;*/
/*  height: 450px;*/
}

/* PRIMERA PLECA*/
.impres {
    margin-top: 30px;
    margin-bottom: 30px;
}

/*PLECAS
---------------------------------------------------*/

.margenAB{
    margin-bottom: 60px;
    margin-top: 60px;
}

.bg-dos {
    color: #fff;
    background-color: #ff8925;
}

.bg-tres{
    color: #fff;
    background-color: #05be3e;
}

.bg-gris{
    background-color: #f7f7f7;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 50px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

footer{
    background-color: #1e40ff;
    color: #fff;
    height: 5em;
    padding: 1.5em;
}


