@font-face {
	font-family: 'icon-fetti';
	src:url('fonts/icon-fetti.eot?-xzvjvf');
	src:url('fonts/icon-fetti.eot?#iefix-xzvjvf') format('embedded-opentype'),
		url('fonts/icon-fetti.woff?-xzvjvf') format('woff'),
		url('fonts/icon-fetti.ttf?-xzvjvf') format('truetype'),
		url('fonts/icon-fetti.svg?-xzvjvf#icon-fetti') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icon-fetti';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
	content: "\e902";
}

.icon-pencil2:before {
	content: "\e906";
}

.icon-droplet:before {
	content: "\e90b";
}

.icon-images:before {
	content: "\e90e";
}

.icon-play:before {
	content: "\e912";
}

.icon-phone:before {
	content: "\e942";
}

.icon-address-book:before {
	content: "\e944";
}

.icon-location:before {
	content: "\e947";
}

.icon-map:before {
	content: "\e94b";
}

.icon-calendar:before {
	content: "\e953";
}

.icon-display:before {
	content: "\e956";
}

.icon-mobile:before {
	content: "\e958";
}

.icon-tv:before {
	content: "\e95b";
}

.icon-undo2:before {
	content: "\e967";
}

.icon-redo2:before {
	content: "\e968";
}

.icon-forward:before {
	content: "\e969";
}

.icon-reply:before {
	content: "\e96a";
}

.icon-bubbles2:before {
	content: "\e96d";
}

.icon-search:before {
	content: "\e986";
}

.icon-zoom-in:before {
	content: "\e987";
}

.icon-zoom-out:before {
	content: "\e988";
}

.icon-gift:before {
	content: "\e99f";
}

.icon-eye:before {
	content: "\e9ce";
}

.icon-bookmark:before {
	content: "\e9d2";
}

.icon-star-empty:before {
	content: "\e9d7";
}

.icon-star-full:before {
	content: "\e9d9";
}

.icon-plus:before {
	content: "\ea0a";
}

.icon-minus:before {
	content: "\ea0b";
}

.icon-cross:before {
	content: "\ea0f";
}

.icon-circle-up:before {
	content: "\ea41";
}

.icon-circle-right:before {
	content: "\ea42";
}

.icon-circle-down:before {
	content: "\ea43";
}

.icon-circle-left:before {
	content: "\ea44";
}

.icon-facebook:before {
	content: "\ea8c";
}

.icon-facebook2:before {
	content: "\ea8d";
}

.icon-instagram:before {
	content: "\ea90";
}

.icon-twitter:before {
	content: "\ea91";
}

.icon-twitter2:before {
	content: "\ea92";
}

.icon-youtube:before {
	content: "\ea97";
}

.icon-youtube3:before {
	content: "\ea99";
}

.icon-youtube4:before {
	content: "\ea9a";
}

.icon-pinterest:before {
	content: "\ead0";
}

.icon-pinterest2:before {
	content: "\ead1";
}

.icon-html5:before {
	content: "\eadf";
}

.icon-css3:before {
	content: "\eae1";
}

.icon-mail:before {
	content: "\e600";
}

